* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right bottom, #3f4df5, #006afa, #007ff7, #0090ed, #169fe0);
}


.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #3f4df5;
    background-image: linear-gradient(to right bottom, #0418f0, #006afa, #0e82ef);
    color: white;
    border-bottom: 2px solid #fff;
    box-shadow: rgba(9, 43, 209, 0.5) 0px 25px 20px -20px;
}

.brand-title {
    font-size: 2rem;
    margin: .5rem;
    font-family: 'Roboto Condensed', sans-serif;
}

.para {
    margin: 0;
    padding: 0;
    display: inline;
    font-weight: bold;
    color: #69e7fd;
}

.brand-title a {
    text-decoration: none;
    display: block;
    color: white;
}

.navbar-links {
    height: 100%;
    font-family: 'PT Sans', sans-serif;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: cornflowerblue;
}

#API {
    background-color: #0418f0;
    color: white;
    padding: 5px;
}

.toggle-button {
    position: absolute;
    top: 1.20rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}


.points {
    margin-left: 35px;
    text-align: left;
}


.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 90vh;
    color: white;

}


.btn_container {
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    width: 600px;
    height: 400px;
    font-size: 18px;
    border-radius: 15px;
    transition: border 300ms ease-out;

}

#ab>h1 {
    text-align: left;
    margin-left: 25px;
}

.btn_container>h1 {
    margin-left: -20px;
}

.btn_container:hover {
    border: 1px solid white;
}

.btn_container>button {
    padding: 10px;
    border: 1px solid black;
    background: none;
    border-radius: 12px;
    width: 100px;
    height: 50px;
    color: white;
    cursor: pointer;
    transition: background-color 300ms ease-in;
}

.btn_container>button:hover {
    background-color: white;
    color: #5361FF;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }


    .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .btn_container {
        padding: 10px;
        margin: 10px;
        width: 500px;
        height: 400px;
        transition: border 300ms ease-in;
        border-radius: 15px;
    }

    .btn_container:hover {
        border: 1px solid white;
        box-shadow: rgba(129, 118, 118, 0.265) 0px 13px 27px -5px, rgba(233, 233, 233, 0.3) 0px 8px 16px -8px;

    }


    .about-header,
    .contact-header {
        text-align: left;
        transform: translateX(50px);
    }
}