* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

body {
    width: 100vw;
    background: rgb(52, 102, 201);
    background: linear-gradient(149deg, rgba(52, 102, 201, 1) 21%, rgba(42, 70, 157, 1) 64%);
}

body::-webkit-scrollbar {
    display: none;
}

.chat_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

.chat_section {
    width: 100%;
    text-align: center;
}

header {
    text-align: center;
    border: 1px solid white;
    position: sticky;
    top: 0;
    width: 100vw;
    background-color: #0c6d91;
    color: white;
    padding: 10px;
    display: flex;
}


.btn {
    margin-right: auto;
    background: none;
    border: 1px solid white;
    padding: 10px;
    color: white;
    transition: background-color 400ms ease-in-out;

}

.btn:hover {
    background-color: white;
    color: #18c7e6;
}

.chat_send {
    margin-bottom: 20px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
}

.chat_send input {
    width: 80vw;
    height: 50px;
    font-size: 20px;
    padding: 10px;
    background: none;
    border: none;
    color: white;
}

::placeholder {
    color: white;
}

.chat_send button {
    padding: 10px;
    border-radius: 5px;
    width: 100px;
    background: none;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}

li {
    list-style-type: none;
    width: 50vw;
    padding: 10px;
    border: 1px solid white;
    margin: 15px;
    border-radius: 10px;
    background-color: #0c6d91;
}


.receive {
    text-align: left;
    margin-right: 49%;
    color: white;
}

.receive div {
    display: flex;
    color: #18c7e6;
    font-size: 18px;
}

.sent {
    text-align: right;
    margin-left: 49%;
    color: white;
}


.sent div {
    display: flex;
    color: #82d9f9;
    justify-content: end;
    font-size: 18px;
}